body {
    background-color: rgb(114, 51, 95);
    justify-content: center;
    
}

.calculator {
    height: 525px;
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

h1 {
    margin: 0;
    padding: 10px 100px;
    font-size: 15pt;
}